$color-primary = #467fcf
$color-secondary = #868e96
$color-success = #5eba00
$color-info = #45aaf2
$color-warning = #f1c40f
$color-danger = #cd201f

$color-blue = #467fcf
$color-red = #cd201f
$color-teal = #2bcbba
$color-azure = #45aaf2
$color-orange = #fd9644
$color-cyan = #17a2b8
$color-indigo = #6574cd
$color-yellow = #f1c40f
$color-gray = #868e96
$color-purple = #a55eea
$color-lime = #7bd235
$color-dark-gray = #343a40
$color-pink = #f66d9b
$color-green = #5eba00
$color-black = #040404

$color-darkest-blue = #0e1929
$color-darker-blue = #1c3353
$color-dark-blue = #3866a6
$color-default-blue = #467fcf
$color-light-blue = #7ea5dd
$color-lighter-blue = #c8d9f1
$color-lightest-blue = #edf2fa

$color-border = rgba(0, 40, 100, 0.12)
$color-text = rgb(73, 80, 87)